<!-- Modules Section -->
    <section id="modules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Carbon Management & Trading Credits</h2>
                    <h3 class="section-subheading text-muted">Carbonomics is a core enabler of our Zero Carbon future.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#708090"></i>
                        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Carbon Economics</h4>
                    <p class="text-muted">Whilst carbon management is a business imperative, trading credits helps close the Net Zero loop by balancing the disparities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b0000"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">Every organization must engineer its North Star with data science hacks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#008b8b"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Decision Science AI</h4>
                    <p class="text-muted">AI tools help firms navigate through pesky decisions, ranging from product innovation to regulatory frameworks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b8b00"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deep Innovation</h4>
                    <p class="text-muted">From plant processes to supply chains and logistics, automation and robotics provide a turbo boost to productive outcomes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#ffa500"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Peer-to-Peer Economy</h4>
                    <p class="text-muted">Close integration of business processes, networks and stakeholders is a Zero Carbon game changer.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b008b"></i>
                        <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Systems Engineering</h4>
                    <p class="text-muted">Codifying business processes with dynamic feedback loops are engineering systems of the future.</p>
                </div>
            </div>
        </div>
    </section>
